#graphs {
    display: grid;
}
#candTable {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 30;
}

#nullVotesTable {
    grid-column: 2;
    grid-row: 2;
}

#feed-list {
    list-style-type: "🌁";
}

#feed-div button {
    margin-left: 10em;
    width: 100%;
}

table {
    text-align: center;
    margin: auto;
}

table tr {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

table tr td {
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    padding-right: 0.4em;
    padding-left: 0.4em;
}
table tr th {
    border: 2px solid gray;
    background-color: azure;
    padding-right: 0.4em;
    padding-left: 0.4em;
}

canvas {
    margin: 0;
    padding: 0;
    display: inline-block;
}

canvas#votesPerCandidate {
    display: subgrid;
    min-width: 400px;
    min-height: 300px;
    max-width: 600px;
    max-height: 500px;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

canvas#urnasApuradas {
    display: subgrid;
    min-width: 200px;
    min-height: 100px;
    max-width: 400px;
    max-height: 300px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}
